

.column p {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

.column h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

.centerColumn h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
}
.centerColumn h2{
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
}

/*style for top nav bar */
.navigation {

    overflow: hidden;
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
       
}

/*style for the bars elements*/
.navigation a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 22px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    


}

/*hovering mouse over tab selection*/
.navigation a:hover {

    background-color: white;
    color: black;

}
/*current tab color*/
.navigation a.active {

    background-color: rgb(78, 28, 205);
    
}

.column {
    width: 35%;
    height: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 13%;
    text-align: center;
    /*background-color: rgb(186, 186, 186);*/
    background: rgba(0, 0, 0, 0.587);
    color: rgb(15, 15, 15);
    
   
}

.centerColumn li{

    display: inline-block;
    margin: 6px;
    list-style: none;
    
}

.centerColumn {

    
    width: 25%;
    height: 625px;
    padding: 35px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    /*background-color: rgb(186, 186, 186);*/

}